  <div class="donate">
  <br>
  
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UBAVGPXWC5T3Q" >
  <img alt="paypal" src="{{ site.baseurl }}/images/btn_donateCC_LG.gif" /></a>

  <br>

  <a href="https://www.blockchain.com/btc/payment_request?address=1JGbxBttGd8p7z1shoQL1NJgH5jrqfSCpT&amount=0.00097498" >
  <img alt="bitcoin" src="{{ site.baseurl }}/images/bitcoin.png" /></a>

  <a href="https://www.buymeacoffee.com/AboTyim" >
  <img alt="buymeacoffee" src="{{ site.baseurl }}/images/buymeacoffee.png" /></a>

  </div>