<div class="btc">
  <br>


  <a href="https://www.blockchain.com/btc/address/12A8xVynYP22kJSwZCp6yTXBXdyMiWdkoC">
    <img alt="bitcoin:12A8xVynYP22kJSwZCp6yTXBXdyMiWdkoC" class="qrcode"
         src="{{ site.baseurl }}/images/qrcode/BTC.png"/>
  </a>



  <!-- ------------------ -->


  <a href="https://www.blockchain.com/bch/address/qqetajgqtxvfk50a0njd2stl8z5r3zcjcu20rarev5">
    <img alt="bitcoincash:qqetajgqtxvfk50a0njd2stl8z5r3zcjcu20rarev5" class="qrcode"
         src="{{ site.baseurl }}/images/qrcode/BCH.png"/>
  </a>

  <!-- ------------------ -->


  <a href="https://www.blockchain.com/eth/address/0x0B2897F19761F01365AD67FFb80f3FC91155275B">
    <img alt="ethereum:0x0B2897F19761F01365AD67FFb80f3FC91155275B" class="qrcode"
         src="{{ site.baseurl }}/images/qrcode/ETH.png"/>
  </a>

  <!-- --------------- -->

  <a href="https://www.buymeacoffee.com/AboTyim">
    <img alt="buymeacoffee" src="{{ site.baseurl }}/images/buymeacoffee.png"/>
  </a>

</div>
