---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    {% if page.categories%}
    <div class="tags">
        <ul>
            {% assign categories = page.categories | sort %}

            {% for category in categories %}
            <li>
                <a href="/categories#{{ category | slugify }}">{{ category | replace:'-', ' ' }} <span></span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif%}

    <div class="entry">
        {{ content }}
    </div>


    <a href="/donate/"><img alt="Donate :)" class="donate_button" src="{{ site.baseurl }}/images/donate_button.png"></a>

    <div class="date">
        {% if page.author %}
        المدون: {{ page.author }}
        {% endif %}
        <br>
        تاريخ الإنشاء: {{ page.date | date: "%d/%m/%Y" }}

        {% if page.update%}
        <br>
        تاريخ التعديل: {{ page.update | date: "%d/%m/%Y" }}
        {% endif%}
    </div>

  {% include disqus.html %}
</article>
